button,
input,
body {
    font-family: 'JetBrains Mono';
}
div {
    margin: auto;
    width: 50%;
    text-align: center;
}

#owned_money {
    text-align: left;
}

#bet_money {
    margin-top: 40vh;
    margin-bottom: 20vh;
    font-size: 50px;
    rotate: 5deg;
}

button,
input {
    height: 8vh;
    width: 8vw;
    font-size: 22px;
}